.input-group.time-wrapper {
  display: block;
  .time {
    width: 75px;
    display: inline-block;
  }
}

.modal-header {
  color: #fff;
  button {
    outline: none;
  }
  &.bg-light {
    color: #000;
  }
}
