ul li {
  list-style-type: none;
}

.buttons-container , .indicators {
  padding:10px;
}

.buttons-container {
  button {
    span {
      margin-left: 10px;
      font-size: 0.8em;
      padding-top: 2px;
    }
  }
}

.events {
  padding: 10px;
}

.indicators {
  div {
    display: inline-block;
    span {
      margin-right: 10px;
    }
  }
}
